<div class="flash-message-container" >
  <% if flash[:success] %>
    <div class="alert alert-primary">
      <%= flash[:success] %>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
  <% end %>
</div>

<div class="d-flex">
  <div class="container m-5 jet-title">
    <h1><%= @jet.name %></h1>
    <p><%= @jet.model %></p>

    <div class="jet-detail-image my-4">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% photo = @jet.photos.first %> <!-- Select the first photo from the collection -->
            <%= cl_image_tag photo.key, crop: :fill %>
          </div>
          <% if @jet.photos[1] %>
            <div class="carousel-item">
              <% target_index = 1 %> <!-- Replace this with the index of the desired photo -->
              <% photo = @jet.photos[1] %>
              <%= cl_image_tag photo.key, crop: :fill %>
            </div>
          <% end %>
          <% if @jet.photos[2] %>
            <div class="carousel-item">
              <% target_index = 2 %> <!-- Replace this with the index of the desired photo -->
              <% photo = @jet.photos[2] %>
              <%= cl_image_tag photo.key, crop: :fill %>
            </div>
          <% end %>
          <% if @jet.photos[3] %>
            <div class="carousel-item">
              <% target_index = 3 %> <!-- Replace this with the index of the desired photo -->
              <% photo = @jet.photos[3] %>
              <%= cl_image_tag photo.key, crop: :fill %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-center text-center my-4">
      <div class="card rounded-4 mx-2 w-100 row align-items-center p-4 card-info">
        <i class="fa-solid fa-plane col" style="color: #1B263B;"></i>
        <p class="col"><strong>Jet Type</strong></p>
        <p class="col"><%= @jet.jetType %></p>
      </div>
      <div class="card rounded-4 mx-2 w-100 row align-items-center p-4 card-info">
        <i class="fa-solid fa-user-group col" style="color: #1B263B;"></i>
        <p class="col"><strong>Capacity</strong></p>
        <p class="col"><%= @jet.capacity %></p>
      </div>
      <div class="card rounded-4 mx-2 w-100 row align-items-center p-4 card-info">
        <i class="fa-solid fa-money-bill-wave col" style="color: #1B263B;"></i>
        <p class="col"><strong>Price</strong></p>
        <p class="col">€ <%= @jet.price %></p>
      </div>
      <div class="card rounded-4 mx-2 w-100 row align-items-center p-4 card-info">
        <i class="fa-solid fa-map-pin col" style="color: #1B263B;"></i>
        <p class="col"><strong>Location</strong></p>
        <p class="col"><%= @jet.location %></p>
      </div>
    </div>
    <%# implement destroy button if the user are owner of this plane %>


    <!--<%= link_to "Book your jet", new_jet_booking_path(@jet), class: "btn rounded-3 btn-primary" %>-->
    <div class="container">
      <% if @jet.user == current_user %>
        <%= link_to 'Add Photo', edit_jet_path(@jet), class: "btn button-form" %>
      <% end %>
    </div>
  </div>

  <div class="card rounded-5 card-details">
    <div style="width: 90%; height: 50vh; margin: 5%;"
    class="rounded-4"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div>
      <% if @jet.user != current_user %>
        <h4 class="ms-4 mb-0"><strong>Book this Jet</strong></h4>
        <div id="my-element" data-all-bookings = "<%= @bookings_all.to_json %>"></div>
        <div style="width: 90%; height: 50vh; margin: 5%;">
          <%= simple_form_for([@jet, @booking]) do |f| %>
              <%= f.input :check_in,
                          as: :string,
                          input_html: { data: { controller: "datepicker" } } %>
              <%= f.input :check_out,
                          as: :string,
                          input_html: { data: { controller: "datepicker" } } %>
              <%= f.submit "Book", class: "button-form"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
