<div class="flash-message-container" >
  <% if flash[:success] %>
    <div class="alert alert-primary">
      <%= flash[:success] %>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
  <% end %>
</div>

<div class="d-flex">
  <div class="container m-5 jet-title">
    <h1><%= @jet.name %></h1>
    <p><%= @jet.model %></p>

    <div class="jet-detail-image my-4">
      <% @jet.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center text-center my-4">
      <div class="card rounded-4 mx-2 w-100 row align-items-center p-4 card-info">
        <i class="fa-solid fa-plane col" style="color: #1B263B;"></i>
        <p class="col"><strong>Jet Type</strong></p>
        <p class="col"><%= @jet.jetType %></p>
      </div>
      <div class="card rounded-4 mx-2 w-100 row align-items-center p-4 card-info">
        <i class="fa-solid fa-user-group col" style="color: #1B263B;"></i>
        <p class="col"><strong>Capacity</strong></p>
        <p class="col"><%= @jet.capacity %></p>
      </div>
      <div class="card rounded-4 mx-2 w-100 row align-items-center p-4 card-info">
        <i class="fa-solid fa-money-bill-wave col" style="color: #1B263B;"></i>
        <p class="col"><strong>Price</strong></p>
        <p class="col">€ <%= @jet.price %></p>
      </div>
      <div class="card rounded-4 mx-2 w-100 row align-items-center p-4 card-info">
        <i class="fa-solid fa-map-pin col" style="color: #1B263B;"></i>
        <p class="col"><strong>Location</strong></p>
        <p class="col"><%= @jet.location %></p>
      </div>
    </div>
    <%# implement destroy button if the user are owner of this plane %>


    <!--<%= link_to "Book your jet", new_jet_booking_path(@jet), class: "btn rounded-3 btn-primary" %>-->
  </div>

  <div class="card rounded-5 card-details">
    <div style="width: 90%; height: 50vh; margin: 5%;"
    class="rounded-4"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <h4 class="ms-4 mb-0"><strong>Book this Jet</strong></h4>
    <div id="my-element" data-all-bookings = "<%= @bookings_all.to_json %>"></div>
    <div style="width: 90%; height: 50vh; margin: 5%;">
      <%= simple_form_for([@jet, @booking]) do |f| %>
          <%= f.input :check_in,
                      as: :string,
                      input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :check_out,
                      as: :string,
                      input_html: { data: { controller: "datepicker" } } %>
                      <h3>Details :</h3><br>
                      <h4><%=  %></h4>
          <%= f.submit "Book", class: "button-form"%>
      <% end %>
    </div>
  </div>
</div>
