<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <%= image_tag "https://res.cloudinary.com/dgxfmpty5/image/upload/v1692710933/development/Untitled_design-2_njvcg4.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Jets", jets_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign-up", new_user_registration_path, class: "btn button-nav mx-2" %>
          </li>
          <li class="nav-item dropdown">
            <%= content_tag :div, "Account", class: "dropdown-toggle btn button-nav mx-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end navbar-lewagon" aria-labelledby="navbarDropdown">
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Profile", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
